*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# mac / IDE
.project
.settings
nbproject
.idea
.DS_Store

# other ruby-specific files
coverage/
pkg/
.yardoc
.bundle
Gemfile.lock
.autotest
rspec_results.html
spec/rspec_results.html